@import "tailwindcss";

* {
   overflow: hidden;
    
  
}

.darkBody {
  background: #2a2a2a;
}


@keyframes zoomFade {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.3);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.zoom-fade {
  animation: zoomFade 5s ease-in-out forwards;

}

@keyframes blurBackground {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(8px);
  }
  100% {
    filter: blur(0px);
  }
}

.blur-animate {
  animation: blurBackground 5s ease-in-out forwards;
}


body {
  background: rgb(241, 201, 201);
  font-family: 'Chango';
  min-height: 2000px;
}

.letter {
  background: rgb(246, 238, 219);              /* off-white paper */
  padding: 2.5rem 2rem;
  margin: auto;
  border-radius: 6px;
  box-shadow:
    0 1px 2px rgba(0,0,0,0.08),
    0 8px 24px rgba(0,0,0,0.12);
  font-family: "Georgia", "Times New Roman", serif;
  line-height: 1.8;
}

